.home{
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.postRecent{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 40px; 
  }
  